.restarent-image {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  margin-right: 15px;
}
.restarent-list {
  width: fit-content;
  width: 33%;
  display: flex;
}
.list-container23 {
  text-decoration: none;
  margin-bottom: 48px;
  flex-grow: 0;
  flex-shrink: 1;
  margin-right: 20px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.second-side {
  height: 50%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rating {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
  height: 150px;
}
.head1 {
  font-size: 20px;
  width: 80%;
}
.para {
  font-size: 12px;
  width: 50%;
}
.sort-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rating-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sort-by {
  margin-top: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
}
